@media screen and (max-width: 800px) {
	.title {
		font-size: 40px;
	}
	.logo {
		display: none;
	}
}

.proj1, .proj2, .proj3, .logo, .middle {
	padding: 5px;
}

.middle {
	margin-top: 20px;
}

.col-md-12 {
	padding: 0px;
}

.tekst {
	margin-top: 20px;
	width: 390px;
	text-align: justify;
}

a {
	font-variant: normal;
	color: #747704;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #747704;
}

h1 {
	font-size: 65px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

a {
	font-size: 20px;
}

hr {
	height: 3px;
	background-color: #bcbbbb;
}

img, object, video {
	max-width: 100%;
}

button, a {
	min-width: 48px;
	min-height: 48px;
}

.text-thin {
	font-weight: 300;
}

.text-grey {
	color: #bcbbbb;
	font-weight: bold;
	padding: 5px;
}
.logo {
	margin-top: 10px;
}